.main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;

  &__container {
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;

    height: 100vh;

    > h2 {
      font-size: 35px;
      color: rgb(29, 24, 24);
      padding: 15px 0;
      margin: 0;
    }
    > p {
      font-size: 20px;
      padding: 0 0 15px 0;
      margin: 0;
    }

    &__ul {
      > ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #416a59;
        padding: 0;

        > li {
          list-style-type: none;
          color: #ffffff;
          font-size: 20px;
          font-weight: 600;
          padding: 10px 0;
          cursor: pointer;
        }
      }
    }

    &__data {
      &__ul {
        > ul {
          padding: 0;
          > li {
            list-style-type: none;
            margin-bottom: 25px;
            transition: 0.3s ease-in-out;

            &:hover {
              background-color: #f5eec2;
            }
          }
        }
        &__listData {
          display: flex;
          justify-content: space-around;
          align-items: center;

          &:hover &__listItem2 {
            opacity: 1;
          }

          &__listItem1 {
            > h2 {
              margin: 0;
            }
            > p {
              margin: 0;
              font-size: 20px;
            }
          }

          &__listItem2 {
            opacity: 0;
            transition: 0.3s ease-in-out;
            @media (max-width: 768px) {
              opacity: 1;
            }
            &__btn1 {
              > i {
                padding: 5px;
                font-size: 20px;
                cursor: pointer;
              }
            }
            &__btn2 {
              > i {
                padding: 5px;
                font-size: 20px;
                cursor: pointer;
              }
            }
          }

          &__listItem3 {
            > p:nth-child(odd) {
              color: black;
            }

            > p:nth-child(even) {
              color: red;
            }
          }
        }
      }
    }

    &__orderlist {
      text-align: center;
      max-width: 1140px;
      margin: 0 auto;
    }

    &__search {
      > input {
        padding: 5px;
        font-size: 17px;
      }
    }
  }

  @media (max-width: 768px) {
    &__container {
      padding: 10px;
    }

    &__ul {
      > ul {
        flex-direction: column;
      }
    }
  }
}
